// HERO MAIN LAYOUT

.l-hero {
    width: 100%;
    background-color: color(white);

    .l-hero__wrap{
        display: flex;
        flex-direction: column;

        @include media(desktop) {
            flex-direction: row;
        }
    }
}

.l-hero__bg {

    position: absolute;
    height: 100%;
    padding: 0;

    @include background-img("../img/Mountains@2x.jpg");
}

//UTILITIES

.l-hero__offset-desktop {
    width: calc(8.333334% - 20px);
    background-color: color(white);
    z-index: 100;
    margin-left: gutter(desktop)/2;
}

.u-full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-55%);

    @include media(desktop) {
        width: 70vw;
        transform: translateX(-52%);
    }
}

// MAIN ARTICLE

.c-main-article__box {
    // --articleWidth:
    position: relative;

    .c-main-article__wrap {
        color: color(white);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        margin: $white-space 0;
        max-width: 100%;


        @include media(mobile) {
            margin: $white-space*2 0;
        }

        @include media(desktop) {
            max-width: calc( 50% + 240px);
            height: 100%;
            margin: 0;
            justify-content: center;
        }
    }
}

.c-main-article__heading, .c-main-news__heading {
    font-size: font-size(large);
    position: relative;
    width: 100%;
    padding-bottom: $white-space;
    line-height: font-size(large);
}

.c-main-article__heading {
    @include underline-title (color(white));
}

.c-main-news__heading {
    @include underline-title (color(gray-2));
}

.c-main-article__subheading {
    font-size: font-size(large);
    font-family: font(main);
    font-weight: $weight-bold;
    padding-top: 34px;
    line-height: 34px;
    z-index: 100;
}

.c-main-article__content {
    font-size: font-size(main);
    font-family: font(main);
    font-weight: $weight-regular;
    padding-top: 16px;
    line-height: 26px;
    overflow: hidden;
    max-height: 4rem;
    z-index: 100;
}

.c-main-article__cta {
    margin-top: $white-space;
    z-index: 100;
}

// MAIN NEWS

.c-main-news__box {
    padding-top: $white-space;
    background-color: color(white);
    z-index: 100;

    @include media(mobile) {
        padding-bottom: $white-space;
    }

    @include media(desktop) {
        flex-direction: column;
        padding-top: $white-space*2.5;
        padding-bottom: $white-space*1.5;
        padding-right: 0;
    }
}

.c-main-news__card-box {
    display: flex;
    flex-direction: column;
    margin-top: $white-space;

    @include media(mobile) {
        flex-direction: row;
        justify-content: space-between;
    }

    @include media(desktop) {
        flex-direction: column;
    }
}

.c-main-news__card {
    height: 50%;
    margin-bottom: $white-space;

    @include media(mobile) {
        max-width: calc(100% - 40px);
    }

    @include media(desktop) {
        max-width: 100%;
    }
}
