/* ==========================================================================
   Typography
   ========================================================================== */

/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: font-size(main);
}

body {
    font-family: font(main);
    color: color(main);

    line-height: default(line-height);
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
}

.u-title {
    font-family: font(main);
    font-weight: 700;
    text-transform: uppercase;
}

.u-link-default {
    font-family: font(main);
    font-weight: 700;
    text-transform: uppercase;
}

.t-cta-primary {
    font-family: font(main);
    font-size: font-size(small);
    color: color(white);
    font-weight: 700;
    text-transform: uppercase;
    background-color: color(pink);
    opacity: 1;

    :hover{
        opacity: 50%;
    }
}

