/* ==========================================================================
   Typography
   ========================================================================== */

/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: font-size(main);
}

body {
    font-family: font(main);
    color: color(main);

    line-height: default(line-height);
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.u-title {
    font-family: font(main);
    font-weight: $weight-bold;
    text-transform: uppercase;
}

.u-link-default {
    font-family: font(main);
    font-weight: $weight-bold;
    text-transform: uppercase;
}

.u-cta-primary {
    font-family: font(main);
    font-size: font-size(small);
    color: color(white);
    font-weight: $weight-bold;
    text-transform: uppercase;
    background-color: color(pink);
    padding: 12px 30px;
    border-radius: 6px;
    opacity: 1;
    line-height: 16px;

    @include transition;

    &:hover{
        background-color: darken(color(pink), 5%);
    }
}

