/* ==========================================================================
   Header
   ========================================================================== */
.l-header {
    background-color: color(gray-3);
    height: 50px;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
}
.l-header__box--logo{
    .c-logo{
        font-size: font-size(medium);
        color: color(pink);
    }
}

.c-burger {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
  }

  .c-burger, .navigation {
    transition: transform .3s .1s ease-in-out;
  }

  .c-burger--active {
    transform: translatex(250px);
  }

  .c-burger__box {
    width: 16px;
    height: 14px;
    display: inline-block;
    position: relative;
  }

  @mixin burger-line {
    height: 2px;
    background-color: color(black-2);
    position: absolute;
    border-radius: 1px;
  }

  .c-burger__inner {
    @include burger-line;

    width: 10px;
    left: 0;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    transition: background-color .1s .2s ease-in-out;
  }

  .c-burger__inner::before,
  .c-burger__inner::after {
    @include burger-line;

    content: '';
    width: 16px;
    left: 0;
    transition: transform .2s .2s ease-in-out;
  }

  .c-burger__inner::before {
    top: -6px;
  }

  .c-burger__inner::after {
    top: 6px;
  }

  .burger--active .c-burger__inner {
    background-color: transparent;
  }

  .burger--active .c-burger__inner:before {
    transform: translateY(6px) rotate(45deg);
  }

  .burger--active .c-burger__inner:after {
    transform: translateY(-6px) rotate(-45deg);
  }

  .c-main-nav__content {
    height: 100vh;
    width: 250px;
    background-color: color(gray-3);
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-250px);
  }

  .main-nav--active {
    transform: translateX(0px);
  }

  .c-main-nav__list {
    margin-top: 50px;
    list-style: none;
  }

  .c-main-nav__item {
    margin-bottom: 20px;

    a {
      text-decoration: none;
    //   color: $dark;
    }
  }
