/* ==========================================================================
   Inner
   ========================================================================== */
@mixin inner () {
    display: flex;
    flex-direction: column;

    width: 100%;;
    margin: 0 auto;
    padding-right: site-padding(mobile);
    padding-left: site-padding(mobile);

    vertical-align: baseline;

    @include media(mobile) {
        padding-right: site-padding(tablet);
        padding-left: site-padding(tablet);
    }

    @include media(desktop) {
        padding-right: site-padding(desktop);
        padding-left: site-padding(desktop);
    }
}

.l-inner {
    @include inner;
}

@mixin col-names ($device) {
    @for $i from 1 through column($device) {
        &-#{$i}-#{$device} {
            width: (100% / column($device)) * $i;
            padding-left: gutter($device)/2;
            padding-right: gutter($device)/2;

        }

        &-offset-#{$i}-#{$device} {
            width: 100% / column($device) * $i;
        }
    }
}

@mixin grid () {
    @include col-names(mobile);

    @include media(mobile) {
        @include col-names(tablet);
    }

    @include media(desktop) {
        @include col-names(desktop);
    }
}

.gr {
    @include grid;
}

.no-gutter {
    padding: 0;
}

.hide {
    @include hide-on;
}

.show {
    @include show-on;
}
