/* ==========================================================================
   Inner
   ========================================================================== */
@mixin inner () {
    display: flex;
    flex-direction: column;

    width: 100%;
    // max-width: size(inner, mobile);
    margin: 0 auto;
    padding-right: -15px;
    padding-left: -15px;

    vertical-align: baseline;

    @include media(mobile) {
        // max-width: size(inner, tablet);
    }

    @include media(desktop) {
        // max-width: size(inner, desktop);
        padding-right: 20px;
        padding-left: 20px;
    }
}

.l-inner {
    @include inner;
}

@mixin col-names ($device) {
    @for $i from 1 through column($device) {
        &-#{$i}-#{$device} {
            width: (100% / column($device)) * $i;
            padding: 0 (gutter($device)/2);
        }

        &-offset-#{$i}-#{$device} {
            // margin-left: 100% / column($device) * $i;
            // padding: 0 (gutter($device)/2);
            margin-left: calc( (100% / column($device) * $i) + gutter($device));
        }
    }
}

@mixin grid () {
    @include col-names(mobile);

    @include media(tablet) {
        @include col-names(tablet);
    }

    @include media(desktop) {
        @include col-names(desktop);
    }
}

.gr {
    @include grid;
}

.no-gutter {
    padding: 0;
}
